
.re1{
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
 
}
#a{
  background-color: white;
}
 
#a:hover{
    background-color: #0C3245;
    color: white;
} 
 
.C1{
    color: teal;
    border: 1px solid teal;
}
.C1:hover{
    background-color:teal;
    color:white;
 }
.d2{
    text-align: left;
    margin-left: 30px;
   
 }
/* .d2:hover{
  color: white;
 } */
.d3{
    text-align: left;
 }

 /* Work smarter  */
.b1{
  height:640px;
  width: 96%;
  margin:auto;
   /* border: 1PX SOLID RED; */
  background-color: #F5F2EB;
}

 
.Grid_1{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-left:40px;
   margin-right: 30px;
   gap: 20px;
}


.Grid_2{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left:40px;
  margin-right: 30px;
  gap: 20px;
}

.Grid_3{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left:40px;
  margin-right: 30px;
  gap: 20px;
}



.Grid_4{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left:40px;
  margin-right: 30px;
  gap: 20px;
}



.Grid_5{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left:40px;
  margin-right: 30px;
  gap: 20px;
}


.Grid_6{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin-left:40px;
  margin-right: 30px;
  gap: 20px;
}


/* last sewctin */


.Grid_7{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left:40px;
  margin-right: 30px;
  gap: 20px;
}
 



/*****************----Tab Screen *******************/

 @media (max-width: 600px ) {
  .Grid_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 350px;
    /* border: 1px solid red; */

  }
  #t1{
    height: auto;
  }
  .inp{
    width: 80%;
    border: 1px solid red;
  }
  
  
  #e3{
    margin-left: -255px;
   }
   #e4{
    margin-left: -220px;
   }
   #e5{
    margin-left: -260px;
   }
   #e6{
    margin-left: -253px;
   }
   #e7{
    margin-left: -245px;
   }
   #e8{
    margin-left: -273px;
   }
   #e9{
    margin-left: -28px;
   }

   #f1{
    margin-left: -220px;
   }

   #f2{
    width: 319px;
   }




  .Grid_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 230px;
  }
  .Grid_3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:200px;
  }

  .Grid_4{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
  }

  .Grid_5{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
  }
  .Grid_6{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 200px;
  }
  .Grid_7{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
   
     
     
  }



  

 /*******************---MOBILE SCREEN-----************************/

@media (max-width: 450px) {
  .Grid_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 350px;


  }
  #e1{
    margin-left:-20px;
    font-size: 35px;
    
   }
   #e2{
    margin-left: -264px;
   }
   #e3{
    margin-left: -255px;
   }
   #e4{
    margin-left: -220px;
   }
   #e5{
    margin-left: -260px;
   }
   #e6{
    margin-left: -253px;
   }
   #e7{
    margin-left: -245px;
   }
   #e8{
    margin-left: -273px;
   }
   #e9{
    margin-left: -28px;
   }

   #f1{
    margin-left: -220px;
   }

   #f2{
    width: 319px;
   }

   #g1{
    margin-left:-200px;
   }
   #g2{
    margin-left:-110px;
   }
   #g3{
    margin-left:-210px;
   }
   #g4{
    margin-left:-120px;
   }
   #g5{
    margin-left:-150px;
   }

   
  .p1>input{
     width: 100%;
  }

  .Grid_2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 230px;
  }
  .Grid_3{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap:200px;
  }

  .Grid_4{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 200px;
  }

  .Grid_5{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 200px;
  }
  .Grid_6{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 200px;
  }
  .Grid_7{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
  }
  

   
   
   
   
   
  Button{
     margin-left: -70%;
  }
  #id{
    width: 80%;
  }
 
 
  
   
  
}