
.re1{
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 10px;
 
}
#a{
  background-color: white;
}
 
#a:hover{
    background-color: #0C3245;
    color: white;
} 
 
.C1{
    color: teal;
    border: 1px solid teal;
}
 .C1:hover{
    background-color: teal;
    color:white;
 }
 .d2{
    text-align: left;
    margin-left: 30px;
 }
 .d2:hover{
  color: white;
 }
 .d3{
    text-align: left;
 }
.b1{
  height:700px;
  /* border: 1PX SOLID RED; */
  background-color: #F5F2EB;
}

 /*****************----Tab Screen *******************/

 @media (max-width: 600px) {
    .wRGrid_1 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 30px;
    }
    
     
  }

 /*******************---MOBILE SCREEN-----************************/

@media (max-width: 450px) {
  .wRGrid_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(1,1fr); */
    gap: 30px;
  }
  /* .d1{
    padding-left: -80px;
    font-size: 20px;
    
  } */
  Button{
     margin-left: -70%;
  }
  #id{
    width: 80%;
  }
 
 
  
   
  
}